html {
    color: #222222;
    font-family: "sans serif";
    background-color: #eeeeee;
}
svg {
    top: 0 !important;
    left: 0 !important;
}
body {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #dddddd;
}
div#board-canvas {
    background-color: #fffcf6;
    border-width: 2px;
    border-style: solid;
    border-color: #888888;
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
div#tree-canvas {
    background-color: #fffcf6;
    border-width: 2px;
    border-style: solid;
    border-color: #888888;
    display: inline-block;
    width: 344px;
    height: 180px;
    overflow: auto;
    cursor: pointer;
}
div#tools {
    background-color: #fffcf6;
    border-width: 2px;
    border-style: solid;
    border-color: #888888;
    display: inline-block;
    width: 344px;;
    height: 57px;
    margin-top: 5px;
}
div#all-container {
    font-size: 0px;
}
div#side-container {
    display: inline-block;
    width: 344px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    vertical-align: top;
}
div.toolstool {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}
div#bpass {
    margin-left: 10px;
    background-image: url("img/bpass.svg");
}
div#bshow {
    background-image: url("img/bshow.svg");
}
div#trem {
    margin-left: 10px;
    background-image: url("img/trem.svg");
}
div#talph {
    background-image: url("img/talph.svg");
}
div#bbw {
    margin-left: 4px;
    background-image: url("img/bbw.svg");
}
div#bbww {
    background-image: url("img/bbww.svg");
}
div#bfw {
    background-image: url("img/bfw.svg");
}
div#bfww {
    background-image: url("img/bfww.svg");
}
div#tblack {
    background-image: url("img/tblack.svg");
}
div#twhite {
    background-image: url("img/twhite.svg");
}
div#tnum {
    margin-left: 10px;
    background-image: url("img/tnum.svg");
}
div#tcirc {
    background-image: url("img/tcirc.svg");
}
div#ttri {
    background-image: url("img/ttri.svg");
}
div#tquad {
    background-image: url("img/tquad.svg");
}
div#tplay {
    margin-left: 4px;
    background-image: url("img/tplay.svg");
}
div#tcross {
    background-image: url("img/tcross.svg");
}
div#placeholder {
    display: inline-block;
    width: 180px;
    height: 17px;
}
div.buttonidle {
    padding: 1px;
    border-width: 1px;
    border-color: #888888;
    border-style: solid;
}
div.buttonhover {
    padding: 0px;
    border-width: 2px;
    border-color: #black;
    border-style: solid;
}
div.buttonpress {
    padding: 0px;
    border-width: 2px;
    border-color: #black;
    border-style: solid;
    background-color: #cccccc;
}
div.unselected {
    padding: 1px;
    border-width: 1px;
    border-color: #888888;
    border-style: solid;
}
div.hoverselect {
    padding: 0px;
    border-width: 2px;
    border-color: #black;
    border-style: solid;
}
div.selected {
    padding: 0px;
    border-width: 2px;
    border-color: #d80f0f;
    border-style: solid;
}